@import url('../../index.css');
.wrapper{
	display: flex;
	justify-content: center;
	gap: var(--spacing-xl);
	padding: var(--spacing-xxl);
	min-height: 100vh;
}


.inputSide{
	flex: 3;
	padding-top: var(--spacing-xxl)
}

.imageSide{
	content: '';
	min-height: 100%;
	background-image: url("images/workbook_pro.jpg");
	background-position: center;
	background-size: cover;
	flex: 7;
	border-radius: var(--spacing-xs);
}