@import url('../../index.css');

/*Login Register Container*/


/*Aside Related Styling*/

aside{
	background-color: var(--bg);
	padding: var(--spacing-lg);
	padding-top: var(--spacing-xxl);
	min-height: 100vh;
	flex:2;
}

.formText {
	margin-bottom: var(--spacing-xl);
}

.formText > p {
	margin: 0;
	font-size: small;
}

.formInputsWrapper{
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	width: 100%;
	max-width: 400px;
	padding-bottom: var(--spacing-xl);
}

.formInfoContainer{
	display: flex;
	flex-direction: column;
}

.formLable {
	font-weight: bold;
	font-size: small;
}

.errorText{
	color: var(--accent);
	font-size: smaller;
	display: none;
}

.buttonContainer{
	margin-top: var(--spacing-xl);
}

.formButton{
	border: none;
	background-color: var(--button-bg);
	color: var(--button-text);
}

.formButton:hover{
	background-color: var(--button-hover-bg);
	color: var(--button-hover-text);
}

.loginRegisterQuestion{
	font-size: smaller;
	text-align: center;
}

.loginRegisterLink{
	font-weight: bold;
	text-decoration: none;
	color: var(--text);
}

.loginRegisterLink:hover{
	text-decoration: underline;
}

.socialButtonsWrapper{
	display: flex;
	flex-direction: column;
	gap : var(--spacing-sm)
}

.socialButton{
	background-color: white;
	color: var(--text);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}


/*Main related Styling*/
main{
	flex:8
}


