/*Login Register Container*/
.login-container{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("images/business_bkg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	min-height: 100vh;
	min-width: 100vw;
}

/*Aside Related Styling*/

aside{
	background-color: var(--bg);
	padding: var(--spacing-lg);
	padding-top: var(--spacing-xxl);
	min-height: 100vh;
	flex:2;
}

/*Main related Styling*/
main{
	flex:8
}


