@import url('../../App.css');


.login-container{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("images/business_bkg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	min-height: 100vh;
	min-width: 100vw;
}

aside{
	background-color: var(--background-color);
	padding: var(--spacing-lg);
}

.formText > p {
	margin: 0;
	font-size: small;
}

.formFieldContainer{
	padding-top: var(--spacing-md);
}

.formFieldContainer > input {
	display: block;
	width: 100%;
	padding: var(--spacing-xs);
}

.buttonContainer{
	display: flex;
	justify-content: center;
}

.buttonContainer > .formButton{
	font-weight: 600;
	font-size: var(--spacing-sm);
	background-color: var(--primary);
	border-radius: 4px;
	border: none;
	padding: var(--spacing-sm);
	color: var(--text);
}