.container {
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);
	min-height: 75px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 var(--spacing-xl);
	font-size: var(--h5);
	font-weight: 500;
}

.currentPage{
	display: flex;
	align-items: center;
}

.topBarProfileContainer{
	display: flex;
	align-items: center;
}

.dropdownIcon:hover{
	cursor: pointer;
	scale: 1.5;
}
